[buildout]
develop = .
parts = interpreter test releaser
extends = http://www.dolmen-project.org/kgs/dolmen-kgs-0.3.cfg
versions = versions
newest = false


[versions]
dolmen.app.container =


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.app.container
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = dolmen.app.container [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
