[buildout]
develop = .
parts = test
find-links = http://pypi.dolmen-project.org/find-links
versions = versions

[versions]
dolmen.batch = 0.2

[test]
recipe = z3c.recipe.scripts
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
    sys.argv.append('--doctest-modules')
eggs =
  dolmen.app.container [test]
  pytest
